<template>
  <div id="app" class="container">
    <h2>{{ title }}</h2>
    <add-items-component></add-items-component>
    <list-component v-bind:items="items"></list-component>
    <div class="footer">
      <hr />
      <change-title-component></change-title-component>
    </div>
  </div>
</template>

<script>
  import AddItemsComponent from './components/AddItemsComponent'
  import ListComponent from './components/ListComponent'
  import ChangeTitleComponent from './components/ChangeTitleComponent'

export default {
    components: {
      AddItemsComponent,
      ListComponent,
      ChangeTitleComponent
    },
    data () {
      return {
        items: [{text: 'Bananas', checked: true}, {text: 'Apples', checked: false}]
      }
    },
    methods: {
      addItem (t) {
        this.list.push({
          text: t,
          checked: false
        })
      }
    }
}
</script>

<!--<style>-->

<!--</style>-->
