<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>

<script src="script.js"></script>
<link rel="stylesheet" href="style.css">

<body>

<!--JSfiddle code starts here-->

<div id="app" class="container">
    <h2>{{ title }}</h2>
    <div class="input-group">
        <input v-model="newItem" @keyup.enter="addItem" placeholder="add shopping list item" type="text"
               class="form-control">
        <span class="input-group-btn">
    <button @click="addItem" class="btn btn-default" type="button">Add!</button>
  </span>
    </div>
    <ul>
        <li v-for="item in items" :class="{ 'removed': item.checked }">
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="item.checked"> {{ item.text }}
                </label>
            </div>
        </li>
    </ul>
    <div class="footer">
        <hr/>
        <em>Change the title of your shopping list here</em>
        <input v-model="title"/>
    </div>
</div>

</body>
</html>