<template>
  <div id="app">
<p>We conquered {{countWorlds}} planets. <br></p>
<p>Hello {{countWorlds}} worlds.</p>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      countWorlds: 5 + 2
    }
  }
}
</script>

<style lang="scss">



</style>
