<!DOCTYPE html>
<html>

<head>

    <title>Test Area</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>

<div id="app">

    <blabber :ice-breaker="true"></blabber>
    <blabber></blabber>

</div>

<script>

  var line = 0

  var bus = new Vue()

  Vue.component('blabber', {
    template: "<p> {{ dialogue[currentLine] }} </p>",
    data () {
      return {
        currentLine: this.iceBreaker ? 0 : -1,
        dialogue: [
          'hello',
          'how are you?',
          'fine thanks',
          'lets go drink!',
          'alright, where?',
          'to hellos bar',
          'hello?'
        ]
      }
    },
    mounted () {
      if (this.iceBreaker) {
        bus.$emit('line', 0)
      }
    },
    props: {
      iceBreaker: {
        type: Boolean,
        default: false
      }
    },
    created () {
      bus.$on('line', line => {
        if (line !== this.currentLine) {
          setTimeout(() => {
            this.currentLine = (line + 1) % this.dialogue.length
            bus.$emit('line', this.currentLine)
          }, 2000)
        }
      })
    }
  })

  new Vue({
    el: '#app'
  })

</script>

</body>

</html>