<!DOCTYPE html>
<html>

<head>

    <title>Test Area</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>

<div id="app">

    <label for="">Sound Level</label>

    <input type="number" v-model.number="soundLevel">

    <sound-icon v-bind:level="soundLevel"></sound-icon>

</div>

<script>

Vue.component('sound-icon', {
  template: "<span>{{ soundEmojis[level] }}</span>",
  props: ['level'],
  data: () {
    return {
      soundEmojis: [
        'https://www.packtpub.com/graphics/9781786468093/graphics/2017-04-10_16h24_20.png',
        'https://www.packtpub.com/graphics/9781786468093/graphics/2017-04-10_16h24_24.png',
        'https://www.packtpub.com/graphics/9781786468093/graphics/2017-04-10_16h24_04.png',
        'https://www.packtpub.com/graphics/9781786468093/graphics/2017-04-10_16h24_16.png'
      ]
    }
}
})

    new Vue({
      el: '#app',
      data: {
        soundLevel: 0
      }
    })

</script>

</body>

</html>