<!DOCTYPE html>
<html>

<head>

  <title>Test Area</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>

<div id="app">

  <label>Legs: <input type="range" v-model="legCount"></label><br>
  <label>Tops: <input v-on:input="update" v-bind:value="tableCount"></label><br>

  <output>
    We are going to build {{ legCount }} legs and assembly {{ tableCount }} tables.
  </output>

</div>

<script>

  //    let surname = 'Snow'

  new Vue({
    el: '#app',
    data: {
      legCount: 0
    },
    computed: {
      tableCount: {
        get () {
          return this.legCount
        },
        set (newValue) {
          this.legCount = newValue * 4
        }
      }
      update (new_table_count) {
        this.tableCount = new_table_count.target.value
      }
    }
  })

</script>

</body>

</html>